.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  #background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-logo {
    display: block;
    position: relative;
    width: 150px;
    height: auto;
    margin-left: 0;
    margin-right: 25%;
    line-height: 0;
}

.image-homeOffice {
   float:center;
   height: 50px;
   width: 50px;
   font-family: Veranda;
   padding: 0px 1px ;
   vertical-align: baseline;
   padding: 5px 0px 0px  25px;
 }

.image-div {
    float:center;
    display: flex;
}

.image-text {
  padding: 20px 0 0px 0px;
  font-size: 20px;
}